//
   Created by yangdongxu on 15/12/1.

div.video-edit-form(ng-init="init()",
style="padding:10px 20px;margin-top:20px; width: 440px")
    a(ui-sref='mts.videoList')
        i.fa.fa-arrow-circle-left
        | &nbsp;返回列表
    h1
        |{{baseInfo.title}}
    hr

    //form(ng-submit="save($event)")
    form

        input(type="hidden", ng-model="vid", name="id")

        label 视频
        input.mediaInput.form-control(type="file", name="mediaFile")
        div(kai-player, source="data.mediaURL", ng-if="!isNew")

        label 缩略图
        input.picInput.form-control(type="file", name="picFile")
        div(ng-if="!isNew")
            img(src="{{data.picURL}}", width="400", height="300")

        label Title
        input.form-control(type='text', name='title', ng-model="data.baseInfo.title")

        label 描述
        div
            textarea.form-control(ng-model="data.baseInfo.description"
            style="height:100px;", name="desc")

        label 状态 {{data.baseInfo.status}}
        select.form-control(ng-model="data.baseInfo.status",
        ng-options="op.value as op.title for op in statusList",
        name="status")

        label 是否转码
        select.form-control(ng-model="data.isTranscode")
            option(value="false") 否
            option(value="true") 是

        button.btn.btn-lg.btn-primary(type="submit",
        style="margin-top:20px",
        ng-click="save($event)") 保存
        //(通过代理服务上传到OSS)

        //button.btn.btn-lg.btn-primary(type="submit",
        //style="margin-top:20px",
        //ng-click="save2oss($event)") 保存 (直接上传到OSS)
